<table class="main" cellpadding="3" cellspacing="0" align="center">
<tr><td class="main">姓名</td><td class="main">$name</td></tr>
<tr><td class="main">部门</td><td class="main">$dept</td></tr>
<tr><td class="main">部门</td><td class="main">$job</td></tr>
</table>
<p><a href="editAllRecords">edit record</a>