<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<p></p>
<p align="center"> <strong><font size="+7" face="Georgia, Times New Roman, Times, serif">个人简历</font></strong></p>
  <table width="66%" height="1004" border="1" align="center" bgcolor="#6699CC">
    <tr> 
      <td height="29"><div align="center">填写日期</div></td>
      <td colspan="3">&nbsp;</td>
      <td colspan="2">编号</td>
      <td>&nbsp;</td>
    </tr>
    <tr> 
      <td width="11%"><div align="center">姓名</div></td>
      <td colspan="3">$Name</td>
      <td width="7%"><div align="center">性别</div></td>
      <td width="16%">$Sex</td>
      <td width="23%" rowspan="4">&nbsp;</td>
    </tr>
    <tr> 
      <td><div align="center">学校</div></td>
      <td colspan="3">$School</td>
      <td> <div align="center">专业</div></td>
      <td>$Subject</td>
    </tr>
    <tr> 
      <td height="20"><div align="center">年级</div></td>
      <td colspan="3">$Grade</td>
      <td><div align="center">联系电话</div></td>
      <td>$Telephone</td>
    </tr>
    <tr> 
      <td><div align="center">身份证号</div></td>
      <td colspan="3">$CardID</td>
      <td><div align="center">籍贯</div></td>
      <td>$Native</td>
    </tr>
    <tr> 
      <td height="29"><div align="center">家庭住址</div></td>
      <td colspan="3">$Addr</td>
      <td colspan="2"><div align="center">家庭联系电话</div></td>
      <td><div align="left"> $AddrPhone</div></td>
    </tr> 
    <tr> 
      <td><div align="center">邮箱</div></td>
      <td colspan="3">$Email</td>
      <td colspan="2"><div align="center">QQ</div></td>
      <td><div align="left"> $QQ</div></td>
    </tr>
    <tr> 
      <td height="55" colspan="2"> <p>外语水平(含英语四、六级成绩)</p>
        </td>
      <td colspan="2">$ForeignLanguage</td>
      <td colspan="2"><div align="center">性格特点</div></td>
      <td><div align="left"> $Character
        </div></td>
    </tr>
    <tr> 
      <td><div align="center">程序设计相关比赛获奖情况</div></td>
      <td colspan="6">$Programming</td>
    </tr>
    <tr> 
      <td><div align="center">数学、物理相关比赛获奖情况</div></td>
      <td colspan="6">$MathAndPhysics</td>
    </tr>
    <tr> 
      <td><div align="center">三号学生和奖学金获得情况</div></td>
      <td colspan="6">$Scholarships</td>
    </tr>
    <tr> 
      <td><div align="center">项目开发经验(与C/C++ JAVA相关项目经验，注明每个项目的代码量)</div></td>
      <td colspan="6">$Project</td>
    </tr>
    <tr> 
      <td><p align="center">干部任职情况(包括:校、院、班、社团)</p></td>
      <td colspan="6">$SchoolDuty</td>
    </tr>
    <tr> 
      <td><p align="center">其他情况(兴趣爱好及其他情况说明)</p></td>
      <td colspan="6">$MoreInfo</td>
    </tr>
    <tr> 
      <td><div align="center">您认为谁的编程能力不错(请在同学中推荐3-5人)</div></td>
      <td colspan="6">$Advice</td>
    </tr>
    <tr> 
      <td colspan="7">       <div align="center">
     <a href="resetresume"> |Result|</a>
        </div>
          </td>
  </table>
<p>&nbsp;</p></form>
</body>
</html>