<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kingsoft MogileFS Files Manage System --MogileFS详细信息</title>
<link href="../site_media/css.css" rel="stylesheet" type="text/css" />
<link href="../site_media/progressbar.css" rel="stylesheet" type="text/css" />

<meta http-equiv="refresh" content="{{RefreshTime}}"> <!--定时刷新-->
</head>
<body>
<map name="Map" id="Map"><area shape="rect" coords="2,3,318,59" href="../index" target="_self" alt="首页" />
</map>
<table style="width: 100%; height: 60px">
    <tr>
      <td width="320"> 
        <img src="../site_media/logo.png" width="320" height="60" border="0" usemap="#Map" />        
      </td>
        <td valign="baseline">
          <ul id="nav"> 
               <li><a href="../logout/" >退出</a></li> 
               <li><a href="../admin_mgr/" >管理选项</a></li>    
               <li><a href="../addtracker/" >Tracker管理</a></li> 
               <li><a href="../addmogilefs/" >添加组群</a></li> 
               <li><a href="../index" id="current">首 页</a></li> 
        </ul> 
       </td>
     </tr>
</table>
<div align="center">
   <div align="center" id =  class="title" width="100%"> {{GroupName}}</div>
    <br> 
  <table width="90%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td class="title">Tracker</td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellpadding="2" cellspacing="2" class="index_table">
      <tr>
        <td width="28%" class="info_tile"> IP</td>
        <td width="17%" class="info_tile">端口</td>
        <td width="17%" class="info_tile">状态</td>
        <td width="14%" class="info_tile">操作</td>
      </tr>
      {% for tracker in Trackers %}
      <tr>
        <td class="info_td">{{tracker.ip}}</td>
        <td class="info_td">{{tracker.port}}</td>
        <td class="info_td">{{tracker.state}}</td>
        <td class="info_td"><a href="../deltracker/?trackerID={{tracker.id}}" onClick="javascript:return confirm('确定要删除吗？')">删除</a></td>
      </tr>
      {% endfor %}
    </table></td>
  </tr>
  <tr>
     <td>&nbsp;</td>
  </tr>
  <!--Domain-->
   <tr>
    <td class="title">Domain + Class</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="2" class="index_table">
      <tr>
        <td width="14%" class="info_tile">Domain namespace</td>
        <td width="14%" class="info_tile">Class names</td>
        <td width="11%" class="info_tile">Min Device Count</td>
        <td width="18%" class="info_tile">Files Sum</td>
        </tr>
        {% for dm in Domains %}
      <tr>
        <td class="info_td"><a href="#">{{dm.name}}</a></td>
        <td class="info_td" colspan="2">
            <table width="100%" border="0" cellpadding="2" cellspacing="2" class="index_table">
              {% for cls in dm.class %}
              <tr>
                <td width="14%" class="info_td">{{cls.name}}</td>
                <td width="11%" class="info_td">{{cls.mindevcount}}</td>
              </tr>
              {% endfor %}
            </table>
        </td>
        <td class="info_td">{{dm.filesum}}</td>
        </tr>
        {% endfor %}
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  
  <tr>
    <td class="title">Host + dev</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="2" class="index_table">
      <tr>
        <td width="14%" class="info_tile">Host</td>
        <td width="17%" class="info_tile"> IP</td>
        <td width="7%" class="info_tile">State</td>
        <td class="info_tile">Dev_State</td>
        </tr>
        {% for host in Hosts %}
      <tr class="index_table">
        <td class="info_td"><a href="#/host/?hostID={{host.id}}">{{host.name}}</a></td>
        <td class="info_td">{{host.ip}}:{{host.port}}</td>
        <td class="info_td">{{host.state}}</td>
        <td class="info_td">
            <table width="100%" border="1" cellpadding="2" cellspacing="0" bordercolor="#FFFFFF" class="index_middle">
                {% for d in host.dev %}
                <tr>
                  <td width="18%">dev_{{d.id}}</td>
                  <td width="50%">
                  {% if d.red %}
                      <div class="ProgressBar_Red">
                  {% endif %}
                  {% if d.yellow %}
                    <div class="ProgressBar_Yellow">
                  {% endif %}
                  {% if d.no %}
                    <div class="ProgressBar">
                  {% endif%}
                    <div style="width: {{d.effice}}%">
                    <span>{{d.effice}}%</span> {{d.used}}M/{{d.total}}M
                    </div>
                  </div>
                  
                 </td>
                  
                  <td width="16%">{{d.state}}</td>
                </tr>
                {% endfor %}
   
            </table>
        </td>
      </tr>
        {% endfor%}
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table align="center">
    Powered by Kingsoft.kcpy.Mogbench
</table>
<br>
</div>
</body>
</html>
