<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kingsoft MogileFS Files Manage System --MogileFS详细信息</title>
<link href="../site_media/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
<map name="Map" id="Map"><area shape="rect" coords="2,3,318,59" href="../index" target="_self" alt="首页" />
</map>
<table style="width: 100%; height: 60px">
    <tr>
      <td width="320"> 
        <img src="../site_media/logo.png" width="320" height="60" border="0" usemap="#Map" />        
      </td>
        <td valign="baseline">
          <ul id="nav"> 
               <li><a href="../logout/" >退出</a></li>
               <li><a href="../admin_mgr/" id="current">管理选项</a></li>    
               <li><a href="../addtracker/" >Tracker管理</a></li> 
               <li><a href="../addmogilefs/" >添加组群</a></li> 
               <li><a href="../index" >首 页</a></li> 
        </ul> 
       </td>
     </tr>
</table>
<div align="center">
    <br> 
  <table width="90%" border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td class="title" height="30" class="title">用户 操作日志</td>
  </tr>
  <tr>
    <td align="center"><table width="100%" border="0" cellpadding="2" cellspacing="2" class="index_table">
      <tr>
        <td width="30%" class="info_tile"> 时 间 </td>
        <td width="60%" class="info_tile"> 事 件 </td>
        <td width="10%" class="info_tile"> 操 作</td>
      </tr>
      {% for log in Logs %}
      <tr>
        <td class="info_td">{{log.time}}</td>
        <td class="info_td2">{{log.event}}</td>
        <td class="info_td"><a href="../dellog/?logID={{log.id}}" onClick="javascript:return confirm('确定要删除吗？删除后将不可恢复！页面将马上刷新，不提示成功!')">删除</a></td>
      </tr>
      {% endfor %}
      <tr>
        
        <td class="index_td2" colspan="3" >  
         <a href="../viewlog/?aID={{adminID}}&page={{0}}" >首 页</a>&nbsp; 
        {% for k in SumPage %}
          <a href="../viewlog/?aID={{adminID}}&page={{ k }}" >[{{k}}]</a>&nbsp;
        {% endfor%}
        </td>
        
      </tr>
    </table>
    
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
 
</table>
<table align="center">
    powered by Kingsoft.kcpy.Mogbench
</table>
<br>
</div>
</body>
</html>
