BODY {PADDING: 0px;MARGIN: 0px;TEXT-ALIGN: center;FONT-SIZE: 12px;FONT-FAMILY: Arial,"ו";text-overflow :ellipsis }
H1,H2{PADDING: 0px;MARGIN: 0px;}
H1{LINE-HEIGHT:26px;font-size:14px;BACKGROUND: #ebf3fb;TEXT-ALIGN: left;PADDING-LEFT:18px;HEIGHT:26px;}
H2{LINE-HEIGHT:23px;font-size:12px;}
H1 a{color:#000;text-decoration : none;}
DIV,form{PADDING: 0px;MARGIN: 0px;}
IMG{BORDER: 0px;}
UL {PADDING: 0px; MARGIN: 0px; LIST-STYLE-TYPE: none}
LI{FONT-SIZE: 12px; FLOAT: left; HEIGHT: 100%;}
SELECT {BORDER-RIGHT: #000000 1px solid;  FONT: 12px Tahoma, Verdana;  COLOR: #003366; BACKGROUND-COLOR: #f4fbff;}
INPUT {BORDER: #ace 1px solid;  COLOR: #003366; BACKGROUND-COLOR: #f4fbff;}
TEXTAREA {BORDER: #ace 1px solid;FONT: 14px Tahoma, Verdana; COLOR: #003366;BACKGROUND-COLOR:#f4fbff;PADDING:2%; }

a:link { color: #000; text-decoration:none;}
a:visited { color: #000;text-decoration:none;}
a:hover { color: #f60; text-decoration:underline;}
a:active { color: #000;}
.cRed,a.cRed:link,a.cRed:visited{ color:Red; }
.cBlue,a.cBlue:link,a.cBlue:visited{ color:#1f3a87;}
.cGreen,a.cGreen:link,a.cGreen:visited{ color:Green;}

.w{width:96%;BORDER: #ace 1px solid;margin-top:10px;}
.l{float:left;TEXT-ALIGN: left;width:60%;PADDING-LEFT:2%; }
.r{float:right;TEXT-ALIGN: right;width:30%;PADDING-RIGHT:2%;}


.f{width:96%;BORDER: #ace 1px solid;margin-top:10px;TEXT-ALIGN: left;}
.m{width:100%;BORDER-TOP: #ace 1px solid; height:64px;TEXT-ALIGN: left;}
.f1{width:15%;float:left;BORDER-RIGHT: #ace 1px solid;height:64px;}
.f2{width:50%;float:left;BORDER-RIGHT: #ace 1px solid;height:64px;LINE-HEIGHT:18px;}
.f21{width:100%;BORDER-BOTTOM:1px solid #ace;height:26px;LINE-HEIGHT:26px;}
.f22{width:100%;height:38px;LINE-HEIGHT:14px;PADDING-TOP:5px;PADDING-LEFT:5px; }
.f3{width:10%;float:left;BORDER-RIGHT: #ace 1px solid;height:100%;PADDING-LEFT:6px;}
.f4{width:23%;float:right;height:64px;}

.f31{PADDING-TOP:16px;}
.f41{PADDING-TOP:10px;}

.ku{width:100%;BORDER-TOP: #ace 1px solid; height:20px;LINE-HEIGHT:20px;TEXT-ALIGN: center;}
.kl{width:100%;BORDER-TOP: #ace 1px solid; height:32px;LINE-HEIGHT:32px;TEXT-ALIGN: center;}

.k1{width:15%;}
.k2{width:45%;}
.k21{width:45%;text-align:left;}
.k3{width:9%;}
.k4{width:9%;}
.k5{width:20%;}
.k51{width:20%;text-align:left;}


.u{PADDING:5px;WIDTH:120px;HEIGHT: 60px;float:left;}
.n{	MARGIN: 3px 0px; FONT: 11px/12px Tahoma}
.n{VERTICAL-ALIGN: middle}
.n A {BORDER: #a6cbe7 1px solid; PADDING-RIGHT: 4px;  PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px;MARGIN: 0px 1px 0px 0px; FONT: 12px/14px verdana; TEXT-ALIGN: center; TEXT-DECORATION: none}
.n A:hover { BORDER: #659b28 1px solid; BACKGROUND: #f3f8ef; COLOR: #004c7d; TEXT-DECORATION: none}
.pl{float:left;TEXT-ALIGN: left;width:45%;}
.pr{float:right;TEXT-ALIGN: right;width:45%;}
.p{font-size:14px;font-weight:800;LINE-HEIGHT:18px;float:right;width:102px;text-align:center;BORDER: #659b28 1px solid;PADDING-TOP:3px;margin-left:3px;}

.v{LINE-HEIGHT:14px; width:16px;PADDING-TOP:1px;margin:5px;text-align:center;}
.d{BORDER: #ff0000 1px solid; BACKGROUND: #FFFFCC;COLOR: #ff0000;}
.t{BORDER: #0000ff 1px solid; BACKGROUND: #99ffff;COLOR: #0000ff;}
.j{BORDER: #659b28 1px solid; BACKGROUND: #f3f8ef;COLOR: #004c7d;}

.o{width:60%;text-align:left;PADDING-LEFT:15%;PADDING-TOP:20px;PADDING-BOTTOM:10px;}
.o1{width:50%;}
.q{width:100%;BORDER-TOP: #ace 1px solid; LINE-HEIGHT:20px;}
.q1{PADDING-TOP:5px;}

#top{height:80px;BORDER-BOTTOM: #ace 2px solid;width:96%;}
#logo{margin-top:16px;width:350px;float:left;}
#bar{margin-top:10px;width:468px;float:right;}
#nav{height:28px;LINE-HEIGHT:26px;}
#AD{margin-top:10px;height:90px;PADDING-TOP:5px;}
#link{margin-top:10px;height:100px;}
#footer{margin-top:10px;BORDER-TOP:solid #ace 2px;text-align:right;width:96%;line-height:28px;}

#post{height:28px;width:96%;margin-top:10px;}
#post A:hover {BACKGROUND: #f3f8ef; COLOR: #004c7d;  TEXT-DECORATION: none}
#page{height:28px;LINE-HEIGHT:26px;width:96%;margin-top:10px;}

#content{text-align:left;FONT-SIZE: 12px;LINE-HEIGHT:16px;}
#content A {COLOR: #154ba0; TEXT-DECORATION: none}
#photo{text-align:center;PADDING:10px;}
#photo img{ BORDER:#ace 2px solid;}
#Text{PADDING:2%;}
#Note{PADDING:2%;text-align:left;}