@charset "utf-8";
/* CSS Document */

.ProgressBar {
    position: relative;
    width: 250px;    /* 宽度 */
    border: 1px solid #009900;
    padding: 1px;
}
.ProgressBar div {
	display: block;
	position: relative;
	color: #333333;
	height: 20px; /* 高度 */
	line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */
	background-color: #009900; /*进度条颜色*/
}
.ProgressBar div span {
	position: absolute;
	width: 250px; /* 宽度 */
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.ProgressBar_Red {
    position: relative;
    width: 250px;    /* 宽度 */
    border: 1px solid #CC3300;
    padding: 1px;
}
.ProgressBar_Red div {
	display: block;
	position: relative;
	color: #333333;
	height: 20px; /* 高度 */
	line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */
	background-color: #CC3300; /*进度条颜色*/
}
.ProgressBar_Red div span {
	position: absolute;
	width: 250px; /* 宽度 */
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.ProgressBar_Yellow {
	position: relative;
	width: 250px;    /* 宽度 */
	border: 1px solid #FFCC00;
	padding: 1px;
}
.ProgressBar_Yellow div {
	display: block;
	position: relative;
	color: #333333;
	height: 20px; /* 高度 */
	line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */
	background-color: #FFFF00; /*进度条颜色*/
}
.ProgressBar_Yellow div span {
	position: absolute;
	width: 250px; /* 宽度 */
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}
