<br><br><br><br><br><br><br><br>
<tr><th>No</th><th>ID</th><th>AccountID</th><th>Name</th><th>Department</th>
<th colspan="3">Operate</tr>
<form name="form1" method="post" action="">
  <textarea name="textarea" cols="80" rows="80">$Text</textarea>
  <input type="submit" name="Submit" value="提交">
</form>
<td class="main"><a href="../../control/assistant.ks/appriaseTable">回到评议表</a></td>

