<br><br><br><br><br>
<table class="main" cellpadding="3" cellspacing="0" align="center" width='60%'>
<tr><th>序号</th><th>ID</th><th>帐号</th><th>姓名</th><th>所在部门</th><th>操作</th></tr>
#for $listItem in $CList:
<tr>
<td class="main">$listItem['no']&nbsp;</td>
<td class="main">$listItem['ID']&nbsp;</td>
<td class="main">$listItem['AccountID']&nbsp;</td>
<td class="main">$listItem['name']&nbsp;</td>
<td class="main">$listItem['department']&nbsp;</td>
<td class="main"><a href="../../control/assistant.ks/removeInterviewer?ID=$listItem['ID']">
<div align='center'>删除</div></a></td>
</tr>
#end for
</table>