<br><br><br><br><br><br><br><br>
<table class="main" cellpadding="3" cellspacing="0" align="center">
<tr><th>序号</th><th>ID</th><th>帐号</th><th>姓名</th><th>面试部门</th>
<th colspan="3">操作</tr>
#for $listItem in $CList:
<tr>

<td class="main">$listItem['no']&nbsp;</td>
<td class="main">$listItem['ID']&nbsp;</td>
<td class="main">$listItem['AccountID']&nbsp;</td>
<td class="main">$listItem['name']&nbsp;</td>
<td class="main">$listItem['department']&nbsp;</td>
<td class="main"><a href="../../control/assistant.ks/removeInterviewee?ID=$listItem['ID']">
删除</a></td>
<td class="main"><a href="../../control/assistant.ks/showResume?ID=$listItem['ID']">
显示简历</a></td>
<td class="main"><a href="../../control/assistant.ks/editIntervieweeInfo?ID=$listItem['ID']">
修改信息</a></td>

</tr>
#end for 
</table>
