<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Kcear.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>无标题文档</title>
<!-- InstanceEndEditable -->
<link href="images/KCEAR.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
	<div class="head">
    	<div class="title">
        	<span><img src="images/title.jpg" />
        </div>
        <div class="menu">
            <div class="item"><a href="#">按训练营总成绩检索</a></div>
            <div class="item"><a href="#">按单个学员成绩检索</a></div>
          <div class="item"><a href="#">帮助</a></div>
      </div>
    </div>
    <div class="content">
        <div class="left">
           	<div class="menu">
       	    <!-- InstanceBeginEditable name="EditRegionMenu" -->
            	<div class="item"><a href="../kcstudent">学员个人信息</a></div>
            	<div class="item"><a href="./">分数变化趋势</a></div>
			<!-- InstanceEndEditable -->            
            </div>
        </div>
        <div class="main">
   	    <!-- InstanceBeginEditable name="EditRegionMain" -->
        	单个学员成绩变化趋势图表
		<!-- InstanceEndEditable -->		
        </div>
    </div>
    <div class="bottom">
    	<p>Powered by KCEAR小组</p>
        <p>2008.08.13</p>
    </div>
</body>
<!-- InstanceEnd --></html>
