<br><br><br><br><br><br><br><br>
<table class="main" cellpadding="3" cellspacing="0" align="center" width="80%">
<tr><th>序号</th><th>面试时间</th><th>面试地点</th><th>面试者</th><th>操作</th>
#for $listItem in $CList:
<tr>
<td class="main" align="center">$listItem['no']</td>
<td class="main" align="center">$listItem['time']</td>
<td class="main" align="center">$listItem['place']</td>
<td class="main" align="center">$listItem['person']</td>
<td class="main" align="center">
<a href="../../control/interviewer.ks/fillResult?intervieweeID=$listItem['person']">
填写面试结果</a></td>
</tr>
#end for
</table>
<p>