

<br><br><br><br><br><br>
<div align='center'>
<p><a href="../../control/interviewer.ks/editPassword">修改密码</a>
<br><br>
<table class="main" cellpadding="10" cellspacing="0" align="center" width="50%">
#for $listItem in $CList:

<tr><td class="main">姓名</td><td class="main">$listItem['name']</td></tr>
<tr><td class="main">部门</td><td class="main">$listItem['dept']</td></tr>
#end for


</table>
</div>