<table class="main" cellpadding="3" cellspacing="0" align="center">
<tr><th>No</th><th>问题类型</th><th>问题方向</th><th>问题</th><th>&nbsp;</th><th>&nbsp;</th></tr>
#for $listItem in $CList:
<tr>
<td class="main">$listItem['no']</td><td class="main">$listItem['maintype']</td><td class="main">$listItem['type']</td>
<td class="main">$listItem['quession']</td>
<td class="main"><a href="removeRecord?recordId=$listItem['no']">
Remove</a></td>
<td class="main"><a href="editRecord?recordId=$listItem['no']">
Edit</a></td>
</tr>
#end for
</table>