<table class="main" cellpadding="10" cellspacing="0" align="center">
#for $listItem in $CList:

<tr><td class="main">ĞÕÃû</td><td class="main">$listItem['name']</td></tr>
<tr><td class="main">²¿ÃÅ</td><td class="main">$listItem['dept']</td></tr>

#end for
</table>
<p><a href="editAllRecords">edit record</a>